#root {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainpage-canvas {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainpage-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d1ecfd;
}

.mainpage-header-container {
    width: 100%;
    height: 12%;
    position: absolute;
    top: 0%;
    border: 1px solid black;
}

.mainpage-body-container {
    width: 100%;
    height: 88%;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}