* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentbox-canvas {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.contentbox-container {
    width: 100%;
    height: 92%;
    position: relative;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.contentbox-header {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentbox-header-patientinfo {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.60);
}

.contentbox-body {
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.60);
    display: flex;
    align-items: center;
    flex-direction: column;
}