.lexical-editor-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}

.lexical-editor-inner {
    width: 100%; 
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.lexical-editor-input {
    height: 100%;
    width: 100%;
    padding: 10px;
    color: black;
    outline: none;
    overflow-y: auto;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underlineStrikethrough {
  text-decoration: underline line-through;
}

.editor-text-code {
  background-color: #f0f0f0;
  font-family: monospace;
  padding: 2px 4px;
  border-radius: 4px;
}