* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-canvas {
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: white;
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.5);
}