
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-canvas {
    width: 100%;
    height: 100%;   
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}

.header-container {
    width: 98%; 
    height: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 15px; 
}


.logo-image {
    height: 70px; 
    width: auto;
}



.user-section {
    display: flex;
    align-items: center;
    gap: 20px;
}


.notification-icon {
    color: #555; 
    cursor: pointer;
    display: flex; 
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: column; 
    text-align: right; 
    line-height: 1.2;
}

.user-name {
    font-weight: 600;
    color: #333;
    font-size: 1em;
}

.user-details {
    font-size: 0.8em;
    color: #777;
    display: flex;
    justify-content: flex-end; 
    gap: 5px;
}


.profile-picture {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    object-fit: cover;
    border: 1px solid #ddd;
}